/********************************************
 * Home Page
 ********************************************/
.home-section {
	padding-top: 1rem;
	padding-bottom: 1rem;
    
    @include respond-from(large) {
        padding-top: 2rem;
        padding-bottom: 2rem;        
    }

    .widget {
        margin-bottom: 0.5rem;
    }
    
    &.page-content {
        background: $page-header-background;
    }
}

.section-divider {
	@extend .post-divider; 
	margin: 0 auto;
}

.widget-area-title {
	text-align: center;
}
