/********************************************
 * Site
 ********************************************/
body {
	background: $background;
    color: $text-color;
}

a {
	color: $primary-link-color;

	&:hover, &:focus {
		color: $hover-link-color;		
	}
}

.button {
	background: $primary-color;
}

.button:hover, .button:focus {
    background-color: darken($primary-color,10%);
}

.site-main {
	background: $background;
}

.page-header {
    background: $page-header-background;
}

.page-link {
	border-top: 1px solid adjust_color($post-background, 5%);

    .page-link-number {
        border: 1px solid adjust_color($post-background, 5%);
    }
    
    > .page-link-number { //Current Page
	   background: adjust_color($post-background, 5%);	
    }

    a:hover {
        color: $hover-link-color;
        
        .page-link-number {
	       background: adjust_color($post-background, 5%);	            
        }
    }
}

.pagination  {
    .current {
        background: adjust_color($background, 5%);
        color: $text-color;
    }
}
/********************************************
 * Top Bar
 ********************************************/
.top-bar {
	background: $top-bar-background;

	.menu {
		margin-top: 0.25rem;
		
		a {
			color: $invert-text-color;
			
			&:hover {
				color: $hover-link-color;
			}
		}
	}
	
	.submenu {
		background: $dropdown-background;
		border-color: adjust_color($dropdown-background, 10% );
	}
}

@include respond-from( large ) {
	.fullwidth-slider .is-anchored .top-bar {
		background: rgba($top-bar-background, 0.2);
	}
}

.title-bar {
	background: $top-bar-background;
}

.title-bar-icon {
	color: $invert-text-color;
}

.site-title {
	a {
		color: $site-title-color;
	 	text-shadow: 2px 2px 4px darken(grayscale($site-title-color),20%);
	}
}

.site-description {
	color: adjust_color(grayscale($invert-text-color),20%);
}
/********************************************
 * Footer
 ********************************************/
.custom-background #footer-widgets,
.custom-background #footer {
	background: rgba($footer-background, 0.8);
}

#footer {
	background: $footer-background;
	color: $footer-text-color; 
}

.copyright {
	a {
		color: $secondary-link-color;
	}
}

.design-credit {	
	a {
		color: $footer-text-color;
	}
}

.back-to-top {
	a {
		color: $footer-text-color;
		background: lighten($background,20%);
		border: 2px solid lighten($footer-text-color,10%);
        
        :hover {
            color: $hover-link-color;
        }
	}
}
/********************************************
 * Menu
 ********************************************/
.sectionmenu {
    border-top: 1px solid rgba(adjust_color(grayscale($section-background),10%),0.5);
    border-bottom: 1px solid rgba(adjust_color(grayscale($section-background),10%),0.5);
	box-shadow: 0 4px 2px -2px darken(grayscale($section-background),10%);
	background: $section-background;
}

.section-menu {
	ul {
		li {	
			&:hover {
				background: $section-dropdown;;
			}
	
			a {
				color: $text-color;
				&:hover {
					color: $hover-link-color;
				}
			}
		}

		ul {
			background: $section-dropdown;
			border: 1px solid rgba(adjust_color($section-dropdown,10%),0.5);

			li {
				border-top: 1px solid rgba(adjust_color($section-dropdown,10%),0.5);
				a {		
					&:hover {
						background: lighten($section-dropdown,5%);						
					}
				}

			}
		}
	}
}

.section-menu > ul > li {
	> a {
		border-right: 1px solid rgba(adjust_color(grayscale($section-dropdown),5%),0.5);
	}
	
	&:first-child {
		border-left: 1px solid rgba(adjust_color(grayscale($section-dropdown),5%),0.5);
	}
}
/* Left Menu */
#offCanvasLeft {
	background: $leftmenu-background;
}

.leftmenu {
	> ul > li > a {
		background: lighten($leftmenu-background,10%);
	}
	
	li a {
		color: $invert-text-color;
		border-bottom: 1px solid lighten($leftmenu-background,10%);
		
		&:hover {
			background: lighten($leftmenu-background,5%)
		}
	}
}

.footer-menu {
	ul {			
		li {
			border-right: 1px solid adjust_color($footer-background, 5%);
			
			ul {
				li:first-child {
					border-left: 1px solid adjust_color($footer-background, 5%);		
				}		
			}
			
			a {
				color: $secondary-link-color;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/********************************************
 * Featured Content
 ********************************************/
.featured-content {
	background: adjust_color($background,5%);
} 

.featured-caption {
	background: rgba($top-bar-background, 0.2);
	color: $invert-text-color;
}

.featured-title {
    a {
		color: $featured-title-color;
		&:hover {
			color: $hover-link-color;
		}
	}
}

.ticker-img {
	background-color: $snow-white;
	border: 1px solid rgba($dark, 0.2);
	box-shadow: 0 1px 3px rgba($dark, 0.1);
}

.btn-featured {
	background-color: $primary-color;;
    color: $invert-text-color;
    
    &:hover, &:focus {
		background-color: darken($primary-color,10%);
	    color: $invert-text-color;		
	}
}
/********************************************
 * Post
 ********************************************/
.hentry {
	background: $post-background;
}

.entry-title {
	a {
		color: $post-title-color;
        &:hover {
            color: $hover-link-color;
        }
	}
}

.entry-excerpt {
	color: adjust_color($text-color, 10%);
}

.post-divider {
	background-image: -webkit-linear-gradient(left, $background, adjust_color($background,10%), $background);
	background-image: -moz-linear-gradient(left, $background, adjust_color($background,10%), $background);
	background-image: -ms-linear-gradient(left, $background, adjust_color($background,10%), $background);
	background-image: -o-linear-gradient(left, $background, adjust_color($background,10%), $background);
}
/********************************************
 * Post Formats
 ********************************************/
.format-aside .entry-content,
.format-aside .entry-summary,
.format-quote .entry-content,
.format-quote .entry-summary {
	background: adjust_color($background,5%);
	border-left: 1.25rem solid adjust_color($background,10%);	
}

.format-quote .entry-content::after,
.format-quote .entry-summary::after {
	color: $meta-text-color;
}
/********************************************
 * Post Meta
 ********************************************/
.entry-meta {
	color: $meta-text-color;
    
    a {
	   color: $meta-text-color;

        &:hover {
            color: $hover-link-color;
        }
    }
}

.entry-featured  {
	color: #ff5e5e;
}
	
/*****************************************
 * Post Comments
 ********************************************/
.even > .comment-body {
	background: adjust_color($post-background,3%);
}

.comment-meta {
    .avatar {
        border: 1px solid #e1e1e1;
    }

    a {
	   color: $meta-text-color;        
    }

}

.comment-metadata {
    > a {
	   color: $meta-text-color;        
    }
}

.comment-reply-link {
    color: $meta-text-color;        
}
/********************************************
 * Widgets
 ********************************************/
.widget-divider {
	@extend .post-divider; 
}

.widget-title {
	font-size: 1.2rem;
	color: $text-color;
    line-height: 1;
}

.sidebar {
    color: $sidebar-text-color;
    .widget {
        background: $widget-background;
        border: 1px solid adjust_color($widget-background,10%);
        border-radius: $widget-radius;
    }
    .widget-title {
        color: $meta-text-color;
        background: $widget-title-background;
        border: 1px solid adjust_color($widget-background,10%);
        border-radius: $widget-title-radius;
    }
}

.widget_categories {
    ul li { 
        a {
            border-bottom: 1px solid adjust_color($widget-background,5%);
            color: $secondary-link-color;

            &:hover {
                color: $hover-link-color;		
            }        
        }
        
        span {
            color: $meta-text-color;            
        }
    }
}

.widget_archive {
    @extend .widget_categories;
}

.widget_pages {
    @extend .widget_categories;
}

.widget_recent_entries {
    @extend .widget_categories;
}

.widget_meta {
    @extend .widget_categories;
}

.widget_nav_menu {
    @extend .widget_categories;
}

.widget_rss  {
    @extend .widget_categories;
}


.widget_recent_comments ul li {
	border-bottom: 1px 1px solid adjust_color($widget-background,5%);	
}

#footer-widgets {
	background: $footer-background;
	color: $footer-text-color;
}

.footer-widget {
    .widget {
         
        ul li {

            a {
                color: $secondary-link-color;		
            }
        }
    }

    .widget-title-container {
        border-bottom: 1px solid adjust_color($footer-background,8%);
    }
    .widget-title {
        color: adjust_color($footer-text-color,10%);
    }
    
}
/********************************************
 * Hana Navigation Widget
 ********************************************/
.hana_nav {
    .tabs {
        border-top: 1px solid adjust_color($widget-background,10%);
        border-bottom: 1px solid adjust_color($widget-background,10%);
        
        > li > a {
            border-right: 1px solid adjust_color($widget-background,10%);
            color: $secondary-link-color;
            
            &:hover {
                text-decoration: underline;
                background: $widget-title-background;
            }
        }
        > li.is-active > a {
            background: $widget-title-background;
        }
        
    } 

}

/********************************************
 * Hana Marking
 ********************************************/
.marketing-vertical {    
    &:hover {
	   background: adjust_color($background, 5%);
    }
}

.marketing-horizontal {
    @extend .marketing-vertical;
}

.marketing-icon {
	color: $meta-text-color;
}

a > .marketing-icon:hover {
    color: $hover-link-color;
}
/********************************************
 * Portfolio
 ********************************************/
.pfitem {
    .hentry {
        background: adjust_color($post-background, 5%);
        
        &:hover {
	       box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.5);         
        }
    }
}
/********************************************
 * Home Page
 ********************************************/
.section-divider {
	@extend .post-divider; 
	margin: 0 auto;
}

.home-section {    
    &.page-content {
        background: $page-header-background;
    }
}
/********************************************
 * Pricing Table
 ********************************************/
.pricing-table {
  border: solid 1px adjust_color($post-background,10%);
  border-radius: 5px;

    li {
        border-bottom: dotted 1px adjust_color($post-background,10%);;
        font-size: 0.75rem;
        padding: 0.875rem 1.125rem;
        
        &:last-child {
            border-bottom: 0;            
        }
    }

    .title {
      background-color: #666666;
      color: #EEEEEE;
      font-size: 1rem;
      border-bottom: 0;
    }

    .pricing-table .price {
      background-color: #F6F6F6;
      color: #333333;
      font-size: 1.75rem;
      border-bottom: 0;
    }

    .description {
        color: #777777;
        font-size: 0.75rem;
    }

    .pricing-table .button {
      margin: 0;
    }
}
/********************************************
 * Social
 ********************************************/
.social {
    li {
        a {
            &[href*="facebook.com"]::before {
                content: '\f09a';
                color: #3D5A99;
            }

            &:hover::before {
                color: $hover-link-color !important;
            }
        }
    }

}

.social-topbar li a::before  {
	color: #ddd !important;
}

.social-footer li a::before  {
	color: $text-color !important;
}
