$dark-blue: #1b7ca8;
$light-blue: #b6e0f3;

$very-dark-gray: #303030;
$silver: #C0C0C0;
$gray: #808080;
$light-gray: #D3D3D3;
$dark: #0a0a0a;

$snow-white: #FFFAFA;
$white: #FEFEFE;

$pure-orange: #FBB700;
$bright-orange: #F38630;

$background: $white;
$post-background: $white;
$widget-background: $background;
$widget-title-background: #f5f6fa;
$page-header-background: #f5f6fa;

$top-bar-background: $dark-blue;
$dropdown-background: $top-bar-background;
$section-background: $snow-white;
$section-dropdown: $light-blue;
$leftmenu-background: $dark;
$footer-background: #f5f6fa;

$text-color: $dark;
$site-title-color: $pure-orange;
$featured-title-color: $white;
$post-title-color: $text-color;
$sidebar-text-color: adjust_color($text-color, 10%);
$meta-text-color: $gray;
$invert-text-color: $snow-white;
$footer-text-color: $very-dark-gray;

$primary-link-color: $dark-blue;
$secondary-link-color: #404060;
$hover-link-color: $bright-orange;

$widget-title-radius: none;
$widget-radius: none;