/********************************************
 * Top Bar
 ********************************************/
.sticky-header {
	z-index: 99; /* IE10 */
	top: 0;
	width: 100%;
}

.site-header .sticky-container {
	height: 38px;

	@include respond-from(medium) {
		height: 149px;		
	}
}

.top-bar {
	background: $top-bar-background;
	background-repeat:no-repeat;
	background-position: top center;
	background-size: cover;	
	
	@include respond-from( large ) {
		padding: 2rem 0.25rem;
		transition: all 500ms linear;			
	}

	.menu {
		margin-top: 0.25rem;
		
		a {
			color: $invert-text-color;
			
			&:hover {
				color: $hover-link-color;
			}
		}
	}
	
	.submenu {
		background: $dropdown-background;
		border-color: adjust_color($dropdown-background, 10% );
	}

	input {
		max-width: 100%;
	}
	
	.title-bar-icon {
		margin-top: 0.5rem;
	}

}

@include respond-from( large ) {
	.fullwidth-slider .is-anchored .top-bar {
		background: rgba($top-bar-background, 0.2);
	}
}

.top-bar.shrunk {
	
	@include respond-from( large ) {
		padding: 0 0.25rem;
		transition: all 500ms linear;
	}
	
	img {
		max-height: 2.5rem;
		width: auto;
	}

	.site-title a {
		font-size: 1.75rem;	
	}
	
	.site-description {
		display: none; 
	}
}

.title-bar {
	background: $top-bar-background;
	padding: 0.25rem 0.25rem 0;

	.top-bar-title {
		display: inline-block;	
		width: 86%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		line-height: 1;
	}
	
	img {
		margin-top: -0.25em;
		margin-bottom: 0;	
		max-height: 2.5rem;
		width: auto;
	}

	.site-title a {
		font-size: 1.25rem;	
	}

}

.title-bar-icon {
	color: $invert-text-color;
	font-size: 1.25rem;
	margin: 0.375rem 0.25rem 0 0.25rem;
}

.site-title-container {
	padding-top: 0.25rem;
	padding-left: 0.5rem;	
}

.site-title {
	padding: 0;
	line-height: 1;
	margin-top: 0.125rem;

	a {
		color: $site-title-color;
		font-size: 2rem;
	 	text-shadow: 2px 2px 4px darken(grayscale($site-title-color),20%);
	}
}

.site-description {
	color: adjust_color(grayscale($invert-text-color),20%);
	font-size: 1rem;
	margin-top: -0.5rem;
	display: inline-block;
}

.dropdown.menu > li.opens-left > .is-dropdown-submenu {
	margin-top: 0;
}

.topmenu-toggle:before {
	font-family: "FontAwesome";
	content: "\f067";
}

.topmenu-toggle.is-open:before {
	content: "\f00d";	
}

.small-search-form {
	padding: 0 1em;
}

.menu-search > li > a {
    padding: 0.5rem 0.375rem;
	font-size: 1.125rem;
    line-height: 1;
}

.menu > li > a .fa {
	vertical-align: top;
}

.menu li.active > a {
	font-weight: bold;
}

@media screen and (min-width: 601px) and (max-width: 782px) {
 	.admin-bar .is-stuck {
		padding-top: 46px;
 	}
}

@media screen and (min-width: 783px) {
 	.admin-bar .is-stuck {
		padding-top: 32px;
 	}
}

