/********************************************
 * Widgets
 ********************************************/
.sticky-sidebar {
	width: 100%;
}

.widget-divider {
	@extend .post-divider; 
    margin-bottom: 2rem;
}

.widget {
	margin-bottom: 1rem;
	padding: 0.5rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .children {
        margin-left: 0.5rem;
        font-size: 0.9375rem;
    }
}

.widget-title {
	font-size: 1.2rem;
	color: $text-color;
    line-height: 1;
}

.sidebar {
    padding-top: 1rem;
	font-size: 0.9375rem;
    color: $sidebar-text-color;

    .sticky.is-anchored {
        position: relative;
    }

    .widget {
        background: $widget-background;
        padding: 1rem;
        border: 1px solid adjust_color($widget-background,10%);
        border-radius: $widget-radius;
    }

    .widget-title-container {
        text-align: center;
        margin-top: -2.23rem;
    }
    .widget-title {
        display: inline-block;
        min-width: 50%;
        max-width: 90%;
        font-size: 0.9375rem;
        color: $meta-text-color;
        text-transform: uppercase;
        background: $widget-title-background;
        padding: 0.675rem 1rem 0.6rem;
        border: 1px solid adjust_color($widget-background,10%);
        border-radius: $widget-title-radius;
    }

}

.widget_categories {
    ul li {
        position: relative;
        margin: 0; 
        a {
            display: block;
            padding: 0.25rem;
            text-decoration: none;
            border-bottom: 1px solid adjust_color($widget-background,5%);
            color: $secondary-link-color;

            &:hover {
                color: $hover-link-color;		
            }        
        }
        
        span {
            position: absolute;
            top: 0.2rem;
            right: 0.25rem;
            color: $meta-text-color;            
        }
    }
}

.widget_archive {
    @extend .widget_categories;
}

.widget_pages {
    @extend .widget_categories;
}

.widget_recent_entries {
    @extend .widget_categories;
}

.widget_meta {
    @extend .widget_categories;
}

.widget_nav_menu {
    @extend .widget_categories;
}

.widget_rss  {
    @extend .widget_categories;
}

#wp-calendar {
	width: 100%;
    
    th,td {
        padding: 0;
        text-align: center;
    }
}

.widget_recent_comments ul li {
	padding: 0.25rem;
	border-bottom: 1px 1px solid adjust_color($widget-background,5%);	
}

.widget_search .input-group {
    margin-bottom: 0rem;
}

#footer-widgets {
	background: $footer-background;
	padding-top: 1rem;
	color: $footer-text-color;
}

.footer-widget {
	font-size: 0.8125rem;
    .widget {
         
        ul li {
            border-bottom: none;

            a {
                color: $secondary-link-color;
                border-bottom: none;

                &:hover {
                    text-decoration: underline;
                }			
            }
        }
    }

    .widget-title-container {
        margin: 0 -0.5rem 0.5rem;
        border-bottom: 1px solid adjust_color($footer-background,8%);
    }
    .widget-title {
        padding: 0.125rem 0.5rem;
        color: adjust_color($footer-text-color,10%);
        font-size: 1rem;
    }
    
    .widget-divider {
        display: none;
    }
}
