/********************************************
 * Hana Recent Post Widget
 ********************************************/
.recent-post {
	position: relative;
    
    .hentry {
        background: none;
    }

    .entry-title {
        font-size: 1rem; 
        margin-bottom: 0.5rem;
        a {
            font-size: 1rem;
        }
    } 
    
    p {
        font-size: 0.9375rem;
    }

    .columns .scale-item {
        max-width: 100%;
        width: 100%;
        float: none;
        margin-bottom: 0.5rem;
    }
}

.recent-post-link {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
}

/********************************************
 * Hana Navigation Widget
 ********************************************/
.hana_nav {
    &.widget {
        padding: 1rem 0 0;
    }
    .tabs {
        margin-top: 0.5rem;
        margin-bottom: 0;
        border-left: none;
        border-right: none;
        
        > li > a {
            font-size: 1rem;
            padding: 0.8rem 0.5rem;
            border-right: 1px solid adjust_color($widget-background,10%);
            color: $secondary-link-color;
            
            &:hover {
                text-decoration: underline;
            }
        }
        > li.is-active > a {
            background: $widget-title-background;
        }
        
    } 

    .tabs-content {
        border: none;
    }
}

/********************************************
 * Hana Marking
 ********************************************/
.marketing-vertical {
	position: relative;
	height: 100%;
	border: 1px solid transparent;
	padding-bottom: 4.5rem;
	text-align: center;	
    
    &.no-coa {
	   padding-bottom: 0.5rem;        
    }
    
    &:hover {
	   background: adjust_color($background, 5%);
    }
}

.marketing-horizontal {
    @extend .marketing-vertical;
    
    @include respond-from(medium) {
	   text-align: left;  
        
        .marketing-logo {
            text-align: right;
        }
        
    }

    .marketing-icon {
        font-size: 4rem;	
    }
}

.marketing-icon {
	font-size: 5rem;
	margin-top: 1rem;
	color: #9a9a9a;
}

a > .marketing-icon:hover {
    color: $hover-link-color;
}

.marketing-logo {
    text-align: center;
    
    img {
        display: block;
        margin: 0 auto;
        
        &:hover {
	       opacity: 0.75;            
        }
    }
}

.marketing .widget-title,
.marketing h2 {
	font-size: 1.5rem;
}

.marketing .widget-title {
	margin-top: 0.5rem;
	text-align: center;
	color: #7ebcfa;
}

.marketing-text {
	padding: 0.5rem 1rem;
    
    @include respond-from(medium) {
	   padding: 1rem 2rem;        
    }
}

.marketing-coa {
	position: absolute;
	left: 50%;
	bottom: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

