/******************************************************************
 * Orange Color Scheme for Passion Theme
 *
 * This is an example to help you customize the color of your site
 * Pallets: #69D2E7	#A7DBD8	#E0E4CC	#F38630	#FA6900
 * 
 *****************************************************************/
/********************************************
 * General
 ********************************************/

/********************************************
 * Background
 ********************************************/
.top-bar,
.title-bar {
	background: #E0E4CC;
}

/********************************************
 * Header
 ********************************************/
.site-description {
	color: #fff;
}
/********************************************
 * Menu
 ********************************************/
.top-bar .submenu {
 	border-color: #d1d8b4;
 	background: #E0E4CC;
}
 
.top-bar .menu a {
	color: #414141;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border-color: #999 transparent transparent;
}

.sectionmenu {
	border-top: 1px solid #d1d8b4;
	border-bottom: 1px solid #d1d8b4;
	background: #E0E4CC;
}

.section-menu > ul > li > a,
.section-menu ul ul li a {
	color: #414141;
}

.section-menu ul li:hover {
	background: #E0E4CC;
	background: linear-gradient(top, #E0E4CC 0%, #e8ead7 80%);
	background: -moz-linear-gradient(top, #E0E4CC 0%, #e8ead7 80%);
	background: -webkit-linear-gradient(top, #E0E4CC 0%,#e8ead7 80%);
}

.section-menu ul ul {
	background: #e8ead7;
}

.section-menu ul ul li {
	border-color: #E0E4CC;
}

.section-menu ul ul li a:hover {
	background: #E0E4CC;
}

/********************************************
 * Post
 ********************************************/
.entry-meta,
.entry-meta a {
	color: #737373;	
}

.entry-meta a:hover {
	color: #F38630;		
}



/********************************************
 * Buttons
 ********************************************/

/********************************************
 * Widgets
 ********************************************/

/********************************************
 * Links
 ********************************************/
a {
 color: #69D2E7;
}
